$white: #ffffff;
$yellow: #f8cf2c;
$blue: #010914;
$coral: #f15b43;
$teal: #65cabc;
$gray: #666;
$black:#262626;
$red: #c70025;
$lightgreen:rgba(144,238,144,0.5);

@mixin sectionLogo() {
    font-family: 'Shalimar';
    color: $red;
    font-size: 2rem;
  }